<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net40" />
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="DeltaEngine.DirectX" version="0.9.7.5" targetFramework="net40" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net40" />
  <package id="IronPython" version="2.7.4" targetFramework="net40" />
  <package id="IronPython.StdLib" version="2.7.4" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net40" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.2" targetFramework="net40" />
  <package id="SharpDX" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.D3DCompiler" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.Direct2D1" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.Direct3D11" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.DirectInput" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.DXGI" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.Toolkit" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.Toolkit.Game" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.Toolkit.Graphics" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.Toolkit.Input" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.XAudio2" version="2.5.0" targetFramework="net40" />
  <package id="SharpDX.XInput" version="2.5.0" targetFramework="net40" />
</packages>